body {
  margin: 0px;
}

.photo-container {
  font-size: 16px;
  color: #484848;
  font-family: "Montserrat", sans-serif;
  margin-top: 2rem;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "photo-0 photo-0 photo-1 photo-2"
    "photo-0 photo-0 photo-3 photo-4";
  max-height: 450px;
}

.gallery .loading-state {
  min-height: 400px;
  background-color: #ddd;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  animation: loading-state-animation 5s ease;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes loading-state-animation {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.gallery img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
  vertical-align: bottom;
  max-width: 100%;
}

.gallery:hover img {
  opacity: 0.6;
  transition: opacity 500ms;
}

.photo-0:hover img,
.photo-1:hover img,
.photo-2:hover img,
.photo-3:hover img,
.photo-4:hover img {
  transform: scale(1.05);
  transition: 1000ms ease;
  opacity: 1;
}

.photo-0 {
  grid-area: photo-0;
}

.photo-1 {
  grid-area: photo-1;
}

.photo-2 {
  grid-area: photo-2;
}

.photo-3 {
  grid-area: photo-3;
}

.photo-4 {
  grid-area: photo-4;
}

.photo-0,
.photo-1,
.photo-2,
.photo-3,
.photo-4 {
  background-color: #484848;
  overflow: hidden;
}

.slideshow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1px 3px;
  grid-template-areas:
    "main-image main-image main-image main-image main-image sidebar sidebar"
    "main-image main-image main-image main-image main-image sidebar sidebar";
  max-height: 450px;
  padding: 0rem 4rem;
}

.slideshow img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
  vertical-align: bottom;
  max-height: 75vh;
  border-radius: 16px;
  max-width: 85%;
  margin: 0px auto;
  top: 50%;
  left: 0px;
  right: 0px;
  bottom: 0px;
  opacity: 1;
  transition: opacity 150ms ease-in-out 0s, transform 150ms ease-in-out 0s;
}

.slideshow .material-icons {
  font-size: 50px;
  font-weight: 100;
  color: #8e8c8c;
}

.slideshow .md-inactive {
  color: #ddd;
}

.slideshow .main-image {
  grid-area: main-image;
  overflow: hidden;
}

.main-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-link {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  text-decoration-line: none;
}

.sidebar {
  grid-area: sidebar;
  overflow: hidden;
  padding-left: 4rem;
}

.sidebar .counter {
  font-weight: 600;
}
